*, *::before, *::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    font-family: "Outfit", sans-serif;
    font-optical-sizing: auto;
    font-size: clamp(12px, 3vw, 16px);
}
body {
    background-image: url(images/Background_image.svg);
    background-color: #121826;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 5vh
}

#features {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 3rem;
}

.feature {
    background-color: #212936;
    border-radius: 1rem;
    padding: 1.5rem;
    width: 100%;
    max-width: 19.7rem;
    gap: 1rem;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}

.feature img {
    border-radius: 12px;
    width: 100%;
    height: auto;
}

/* Typography */

h1, h2 {
    color: #E5E7EB;
    font-weight: 600;
}

h1 {
    font-size: 2.5rem;
}

h2 {
    font-size: 1.25rem;
}

p {
    color: #9DA3AE;
    font-size: 1rem;
    font-weight: 400;
}

header {
    text-align: center;
}

.emoji {
    font-size: 1.5rem;
    display: inline-block;
    border-radius: 100%;
    padding: 0.5em
}

.hand {
    background-color: #FCEED8;
}

.goal {
    background-color: #DEE9FC;
}

.bubble {
    background-color: #FBE5E6;
}
