*, *::before, *::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    font-family: "Outfit", sans-serif;
    font-optical-sizing: auto;
    font-size: clamp(14px, 1.8vw, 18px);
}
body {
    background-image: url(images/Background_image.svg);
    background-color: #121826;
    padding: 5%;
    min-height: 100vh;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: min(5vw, 4rem);
}

header {
    max-width: 30.2rem
}

#features {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 3rem;
}

.feature {
    background-color: #212936;
    border-radius: 1rem;
    padding: 1.5rem;
    width: 100%;
    max-width: 19.6rem;
    gap: 1rem;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}

.feature img {
    border-radius: 12px;
    width: 100%;
    height: auto;
}

/* Typography */

h1, h2 {
    color: #E5E7EB;
    font-weight: 600;
}

h1 {
    font-size: 2.5rem;
    margin-bottom: min(3vw, 1.5rem);
}

h2 {
    font-size: 1.25rem;
}

p {
    color: #9DA3AE;
    font-size: 1rem;
    font-weight: 400;
}

header {
    text-align: center;
}

.emoji {
    font-size: 1.5rem;
    display: inline-block;
    border-radius: 100%;
    padding: 0.5em
}

.hand {
    background-color: #FCEED8;
}

.goal {
    background-color: #DEE9FC;
}

.bubble {
    background-color: #FBE5E6;
}

  
  @media (min-width: 1200px) {
    body {
        font-size: clamp(18px, 1.5vw, 24px);
    }
}